@model Honeymoonshop.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.categorie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.categorie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.merk)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.merk)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prijs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prijs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.artikelnummer">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
