@model Honeymoonshop.Models.Product
@if (Model.kleuren.Count > 0)
{
    <div class="col-md-4 col-item catalogusitem">
        <a asp-route-productId="@Model.Id" a asp-route-kleurId="@Model.Kleuren[0].KleurId" a asp-action="ProductPagina">
            <div class="img-container">
                @{
                    if (Model.Kleuren.Count > 0 && Model.Kleuren[0].Images.Count > 0)
                    {
                        <img src="~/images/productenimages/@Model.Kleuren[0].Images[0].BestandsNaam" c class="img-responsive collectieitemimg" />
                    }
                    else
                    {
                        if (Model.Geslacht == "bruid")
                        {
                            <img src="~/images/productenimages/placeholders/placeholderbruid.jpg" class="img-responsive collectieitemimg" />
                        }
                        else
                        {

                            <img src="~/images/productenimages/placeholders/placeholderbruidegom.jpeg" class="img-responsive collectieitemimg" />
                        }
                    }

                }
            </div>

            <div class="bold">@Model.Merk.MerkNaam</div>
            <div class="artikelnr">artikel nr. @Model.Artikelnummer</div>
        </a>
        <div id="kleuren">
            @foreach (Kleurproduct kleurproduct in Model.Kleuren)
            {
                <a asp-action="productpagina" asp-route-kleurid="@kleurproduct.KleurId" asp-route-productid="@Model.Id"><div class="kleurbolletje verberg" style="background-color:#@kleurproduct.Kleur.KleurCode"></div></a> <span>&nbsp;</span>
            }
        </div>
    </div>
}