@model Honeymoonshop.Models.Catalogus.CatalogusVM

<div class="col-xs-12 col-md-10 pull-right filter-container">
    <h2 class="text-uppercase bold">Categorieen:</h2>
    <ul class="categorieen">
        @foreach (var cat in Model.Categorieen)
        {
            <li>
                <a asp-action="dressfinder"  asp-route-categorieID="@cat.Id">

                    @cat.Naam
                </a>
            </li>
        }

        <li>
            <a asp-action="dressfinder" >
                @ViewBag.defaultCategorie
            </a>
        </li>
    </ul>

    <input type="hidden" asp-for="Criteria.CategorieId" />

    <span>
        <b>Filter op:</b>
    </span>

    <ul class="filterkeuzes">
        <li>
            <a onclick="toggleMerken()">
                <div class="merkfilter">
                    <span>Merk</span>
                    <div class="mx-auto pull-right"><img class="triangle-opposite" src="~/images/triangle-opposite.png" /><img class="triangle" src="~/images/triangle.png" /></div>

                </div>
            </a>
            <fieldset class="merken">
                <ul>
                    @foreach (var m in Model.Merken)
                    {
                            <li class="rbfilter">
                                <input type="checkbox" class="filter-checkbox hide" value="@m.Id" name="Merk" @(Model.Criteria.Merk != null && Model.Criteria.Merk.Contains(m.Id) ? "checked=\"checked\"" : "" ) />
                                <img class="rb outer" src="~/images/outer circle.png" />
                                <img class="rb inner" src="~/images/inner circle.png" />
                                @m.MerkNaam

                                <!--Html.RadioButton("merk", m.id, (m.id == Model.criteria.merk))
                                    <img class="rb outer" src="~/images/outer circle.png"/>
                                <img class="rb inner" src="~/images/inner circle.png"/>-->
                                <!--<input type="radio" name="merk" value="@m.Id" class="filterradiobuttons" />
                                -->
                            </li>
                            }
</ul>
            </fieldset>
        </li>

        <li>
            <a onclick="toggleStijlen()">
                <div class="stijlfilter">
                    <span>Stijl</span>
                    <div class="mx-auto pull-right"><img class="triangle-opposite" src="~/images/triangle-opposite.png" /><img class="triangle" src="~/images/triangle.png" /></div>
                </div>
            </a>
            <fieldset class="stijlen">
                <ul>
                    @foreach (var stijl in Model.Stijlen)
                    {
                        <li class="rbfilter">
                            <input type="checkbox" class="filter-checkbox hide" value="@stijl.Id" name="kenmerk" @(Model.Criteria.Kenmerk != null && Model.Criteria.Kenmerk.Contains(stijl.Id) ? "checked=\"checked\"" : "" ) />
                            <img class="rb outer" src="~/images/outer circle.png" />
                            <img class="rb inner" src="~/images/inner circle.png" />
                            @stijl.Naam
                        </li>
                    }
                </ul>
            </fieldset>
        </li>


        <li>
            <div class="filter-title">
                Prijs
            </div>
            <div class="sliderContainer">
                <input id="slider" type="text" class="span2" value=""
                       data-slider-min="1" data-slider-max="@ViewBag.hoogstePrijs" data-slider-step="1"
                       data-slider-value="[@ViewBag.geselecteerdeMinPrijs,@ViewBag.geselecteerdeMaxPrijs]" />
                <div class="prijzenContainer col-md-12">
                    <div class="col-xs-9 col-md-6 prijs">&euro;<span class="minprijs">@ViewBag.geselecteerdeMinPrijs</span></div>
                    <div class="col-xs-3 col-md-6 prijs"><span class="maxprijs pull-right">@ViewBag.geselecteerdeMaxPrijs</span><span class="pull-right">&euro;</span></div>
                </div>
            </div>
            <input type="hidden" name="minPrijs" />
            <input type="hidden" name="maxPrijs" />

            <input type="submit" />
        </li>

    </ul>
    <span>
        <strong>Filters verfijnen:</strong>
    </span>
    <ul class="filterverfijnen">

        <li class="head-filter">
            <a onclick="toggleNeklijnen()">
                <div class="neklijnfilter">
                    <span >Neklijn</span>
                    <div class="mx-auto pull-right"><img class="triangle-opposite" src="~/images/triangle-opposite.png" /><img class="triangle" src="~/images/triangle.png" /></div>
                </div>
            </a>
            <fieldset class="neklijnen">
                <ul>
                    @foreach (var neklijn in Model.Neklijnen)
                    {
                        <li class="rbfilter">
                            <input type="checkbox" class="filter-checkbox hide" value="@neklijn.Id" name="kenmerk" @(Model.Criteria.Kenmerk != null && Model.Criteria.Kenmerk.Contains(neklijn.Id) ? "checked=\"checked\"" : "" ) />
                            <img class="rb outer" src="~/images/outer circle.png" />
                            <img class="rb inner" src="~/images/inner circle.png" />
                            @neklijn.Naam
                        </li>

                    }
                </ul>
            </fieldset>
        </li>

        <li class="head-filter">
            <a onclick="toggleSilhouettes()">
                <div class="silhouettefilter">
                <span>Silhouette</span>
                <div class="mx-auto pull-right"><img class="triangle-opposite" src="~/images/triangle-opposite.png" /><img class="triangle" src="~/images/triangle.png" /></div>
                </div>
            </a>
            <fieldset class="silhouettes">
                <ul>
                    @foreach (var silhouette in Model.Silhouettes)
                    {
                        <li class="rbfilter">
                            <input type="checkbox" class="filter-checkbox hide" value="@silhouette.Id" name="Kenmerk" @(Model.Criteria.Kenmerk != null && Model.Criteria.Kenmerk.Contains(silhouette.Id) ? "checked=\"checked\"" : "" ) />
                            <img class="rb outer" src="~/images/outer circle.png" />
                            <img class="rb inner" src="~/images/inner circle.png" />
                            @silhouette.Naam
                        </li>

                    }
                </ul>
            </fieldset>
        </li>
        <li class="head-filter">
            <a onclick="toggleKleuren()">
                <div class="kleurfilter">
                <span>Kleur</span>
                <div class="mx-auto pull-right"><img class="triangle-opposite" src="~/images/triangle-opposite.png" /><img class="triangle" src="~/images/triangle.png" /></div>
                </div>
            </a>
            <fieldset class="kleuren">
                <ul>
                    @foreach (var kleur in Model.Kleuren)
                    {
                        <li class="rbkleur">
                            <input type="checkbox" class="filter-checkbox hide" value="@kleur.Id" name="gefilterdeKleur" @(Model.Criteria.Gefilterdekleur != null && Model.Criteria.Gefilterdekleur.Contains(kleur.Id) ? "checked=\"checked\"" : "" ) />
                            <span class="kleurbolletje" style="background-color:#@kleur.KleurCode; display:inline-block;"></span>
                            @kleur.Naam
                        </li>
                    }
                </ul>
            </fieldset>
        </li>
    </ul>
</div>