@model Honeymoonshop.Models.Catalogus.CatalogusVM

@if (Model.Aantalpaginas > 0)
{
    <ul class="pagination pull-right">
        <li>
            @Html.ActionLink("◀", "dressfinder", new { Merk = Model.Criteria.Merk, paginering = 1, categorieid = @Model.Criteria.CategorieId, MinPrijs = @Model.Criteria.MinPrijs, MaxPrijs = @Model.Criteria.MaxPrijs, Sorteer = @Model.Criteria.Sorteer, Limiet = @Model.Criteria.Limiet, Kenmerk = Model.Criteria.Kenmerk, Gefilterdekleur = Model.Criteria.Gefilterdekleur })


        </li>
        @for (int i = 1; i < Model.Aantalpaginas + 1; i++)
        {
            <li>
                

                @Html.ActionLink(""+i, "dressfinder", new { Merk = Model.Criteria.Merk, paginering = i, categorieid = @Model.Criteria.CategorieId, MinPrijs = @Model.Criteria.MinPrijs, MaxPrijs = @Model.Criteria.MaxPrijs, Sorteer = @Model.Criteria.Sorteer, Limiet = @Model.Criteria.Limiet, Kenmerk = Model.Criteria.Kenmerk, Gefilterdekleur = Model.Criteria.Gefilterdekleur })
            </li>
        }

        <li>
            @Html.ActionLink("►", "dressfinder", new { Merk = Model.Criteria.Merk, paginering = Model.Aantalpaginas, categorieid=@Model.Criteria.CategorieId, MinPrijs = @Model.Criteria.MinPrijs, MaxPrijs = @Model.Criteria.MaxPrijs, Sorteer = @Model.Criteria.Sorteer, Limiet = @Model.Criteria.Limiet, Kenmerk = Model.Criteria.Kenmerk, Gefilterdekleur = Model.Criteria.Gefilterdekleur })
        </li>
    </ul>
}