@model Honeymoonshop.Models.Catalogus.CatalogusVM

@if (Model.aantalpaginas > 0)
{
    <ul class="pagination pull-right">
        <li>
            @Html.ActionLink("◀", "dressfinder", new { merk = Model.criteria.merk, paginering = 1, categorieid = @Model.criteria.categorieID, minPrijs = @Model.criteria.minPrijs, maxPrijs = @Model.criteria.maxPrijs, sorteer = @Model.criteria.sorteer, limiet = @Model.criteria.limiet, kenmerk = Model.criteria.kenmerk, gefilterdekleur = Model.criteria.gefilterdeKleur })


        </li>
        @for (int i = 1; i < Model.aantalpaginas + 1; i++)
        {
            <li>
                

                @Html.ActionLink(""+i, "dressfinder", new { merk = Model.criteria.merk, paginering = i, categorieid = @Model.criteria.categorieID, minPrijs = @Model.criteria.minPrijs, maxPrijs = @Model.criteria.maxPrijs, sorteer = @Model.criteria.sorteer, limiet = @Model.criteria.limiet, kenmerk = Model.criteria.kenmerk, gefilterdekleur = Model.criteria.gefilterdeKleur })
            </li>
        }

        <li>
            @Html.ActionLink("►", "dressfinder", new { merk = Model.criteria.merk, paginering = Model.aantalpaginas, categorieid=@Model.criteria.categorieID, minPrijs = @Model.criteria.minPrijs, maxPrijs = @Model.criteria.maxPrijs, sorteer = @Model.criteria.sorteer, limiet = @Model.criteria.limiet, kenmerk = Model.criteria.kenmerk, gefilterdekleur = Model.criteria.gefilterdeKleur })
        </li>
    </ul>
}