@model Honeymoonshop.Models.Product
@{
    List<Kleurproduct> gerelateerdeProducten = ViewData["gerelateerdeProducten"] as List<Kleurproduct>;
    List<Kleurproduct> accessoires = ViewData["Accessoires"] as List<Kleurproduct>;
    Kleurproduct hetProduct = ViewData["Product"] as Kleurproduct;
}
<script language="javascript">
    function vergrootImage(geklikteAfbeelding) {
        document.getElementById("mainImage").src = geklikteAfbeelding;
    }
</script>
<div class="productcontainer row">
    <div id="productpagina" class="col-md-12">
        <div id="breadcrumbcontainer">
            <ol class="breadcrumb">
                <li>
                    <a href="/home/">Home</a>
                </li>
                <li>
                    <a asp-action="dressfinder" class="text-capitalize">@hetProduct.product.geslacht</a>
                </li>
                <li>
                    <a href="/bruid/dressfinder">Dressfinder</a>
                </li>
                <li>
                    <a asp-action="dressfinder" asp-route-categorieID="@hetProduct.product.categorie.id">@hetProduct.product.categorie.naam</a>
                </li>
                <li class="active">@hetProduct.product.merk.merkNaam, @hetProduct.product.artikelnummer</li>
            </ol>
        </div>
        <div id="col-md-12"><a href="/bruid/dressfinder"><img src="~/images/arrow.png" />Terug naar overzicht</a></div>
        <div class="col-md-3">
            @{
                if (hetProduct.images.Count > 0)
                {
                    @foreach (ProductImage img in hetProduct.images)
                    {
                        <img src="~/images/productenimages/@img.bestandsNaam" class="pull-right" onclick="vergrootImage(this.src)" />
                    }
                }
                else
                {
                    if (hetProduct.product.geslacht == "bruid")
                    {
                        <img src="~/images/productenimages/placeholders/placeholderbruid.jpg" class="pull-right" />
                    }
                    else
                    {

                        <img src="~/images/productenimages/placeholders/placeholderbruidegom.jpeg" class="pull-right" />
                    }
                }

            }
        </div>
        <div class="col-md-6">
            @{
                if (hetProduct.images.Count > 0) { 
                    <img src="~/images/productenimages/@hetProduct.images.First().bestandsNaam" class="pull-right" id="mainImage" />
                }
                else
                {
                    if (hetProduct.product.geslacht == "bruid")
                    {
                        <img src="~/images/productenimages/placeholders/placeholderbruid.jpg" class="pull-right" />
                    }
                    else
                    {
                        <img src="~/images/productenimages/placeholders/placeholderbruidegom.jpeg" class="pull-right" />
                    }
                }
            }
        </div>
        <div class="col-md-3">
            <h4>@hetProduct.product.merk.merkNaam</h4>
            <p>artikel nr. @hetProduct.product.artikelnummer</p>
            <p>@hetProduct.product.omschrijving</p>
            <div>
                <p>
                    <span>Merk: <a asp-action="dressfinder" asp-route-merk="@hetProduct.product.merk.id">@hetProduct.product.merk.merkNaam</a></span><br />
                </p>
                <p>
                    <span>
                        Kenmerken:
                        @{
                            foreach (Kenmerkproduct kenmerkproduct in hetProduct.product.kenmerken)
                            {
                            <a asp-action="dressfinder" asp-route-stijl="@kenmerkproduct.kenmerk.id">@kenmerkproduct.kenmerk.naam</a>
                            }
                        }
                    </span><br />
                </p>
                <p>
                    <span>Prijsindicatie: €@hetProduct.product.prijs</span><br />
                </p>
                <p>
                    <div id="kleuren">
                        Beschikbare kleuren: @{
                            foreach (Kleurproduct kleurproduct in hetProduct.product.kleuren)
                            {
                                @if (kleurproduct.kleur != null)
                                {
                                    <a href="/bruid/productpagina/?productid=@hetProduct.product.id&kleurid=@kleurproduct.kleurId"><div class="kleurbolletje" style="background-color:#@kleurproduct.kleur.kleurCode"></div></a>
                                }
                            }
                        }
                    </div><br />
                </p>
                <p>Kom deze jurk passen!</p>
            </div>
            <a href="#" class="text-uppercase">Pasafspraak maken</a>
        </div>
    </div>
    <div class="col-md-12" id="tussenkopje">
        <hr class="col-md-4" />
        <h4 class="col-md-4 text-uppercase text-center bold">Bijpassende Accessoires</h4>
        <hr class="col-md-4" />
    </div>
    <div class="col-md-12" id="bijpassend">
        <div class="col-md-12">
            @{
                if (accessoires.Count > 0)
                {
                    foreach (Kleurproduct kleurproduct in accessoires)
                    {
                        <div class="col-md-3">
                            <div class="text-center"><img src="~/images/productenimages/@kleurproduct.images.First().bestandsNaam" /></div>
                            <span>@kleurproduct.product.merk.merkNaam</span>
                        </div>
                    }
                }
                else
                {
                    <div class="text-center">Er zijn geen bijpassende accessoires gevonden voor dit product of deze kleur.</div>

                }
            }
        </div>
        <a href="#">
            <div class="col-md-12">
                <span class="text-uppercase">Bezoek de webshop</span>
            </div>
        </a>
    </div>
    <div class="col-md-12" id="tussenkopje">
        <hr class="col-md-3" />
        <h4 class="col-md-6 text-uppercase text-center bold">Of zijn deze @hetProduct.product.categorie.naam meer iets voor jou?</h4>
        <hr class="col-md-3" />
    </div>
    <div class="col-md-12" id="alternatieven">
        <div class="col-md-12">
            @{
                @if (gerelateerdeProducten.Count > 0)
                {
                    @for (int i = 0; i < 4 && i < gerelateerdeProducten.Count; i++)
                    {
                        if (gerelateerdeProducten.Count > 0 && gerelateerdeProducten[i].images.Count > 0)
                        {
                        <div class="col-md-3">
                            <div class="text-center"><a href="/bruid/productpagina/?productid=@gerelateerdeProducten[i].productId&kleurid=@hetProduct.kleurId"><img src="~/images/productenimages/@gerelateerdeProducten[i].images.First().bestandsNaam" /></a></div>
                            <span><a href="/bruid/productpagina/?productid=@gerelateerdeProducten[i].productId&kleurid=@hetProduct.kleurId">@gerelateerdeProducten[i].product.merk.merkNaam</a></span>
                        </div>
                        }
                        else
                        {
                            <div class="col-md-3">
                                @if (hetProduct.product.geslacht == "bruid")
                                {
                                    <div class="text-center"><a href="/bruid/productpagina/?productid=@gerelateerdeProducten[i].productId&kleurid=@hetProduct.kleurId"><img src="~/images/productenimages/placeholders/placeholderbruid.jpg" /></a></div>
                                }
                                else
                                {
                                    <div class="text-center"><a href="/bruid/productpagina/?productid=@gerelateerdeProducten[i].productId&kleurid=@hetProduct.kleurId"><img src="~/images/productenimages/placeholders/placeholderbruidegom.jpeg" /></a></div>
                                }
                                <span><a href="/bruid/productpagina/?productid=@gerelateerdeProducten[i].productId&kleurid=@hetProduct.kleurId">@gerelateerdeProducten[i].product.merk.merkNaam</a></span>
                            </div>
                        }
                    }
                }
                else
                {
                    <div class="text-center" >
                        Er zijn geen gerelateerde producten gevonden voor dit product of deze kleur.
                    </div>
                }
            }
        </div>
    </div>
</div>