@model Honeymoonshop.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artikelnummer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artikelnummer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kleuren)
        </dt>
        <dd>
            @foreach (var k in Model.Kleuren)
            {
                <span>@k.Kleur.Naam &nbsp; &nbsp; &nbsp; </span>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kenmerken)
        </dt>
        <dd>
            @foreach (var k in Model.Kenmerken)
                {
                <span>@k.Kenmerk.Naam &nbsp; &nbsp; &nbsp; </span>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Geslacht)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Geslacht)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categorie.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Merk)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Merk.MerkNaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prijs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Wijzigen</a> |
    <a asp-action="Index">Back to List</a>
</div>
