@model Honeymoonshop.Models.ProductViewModels.CreateProduct

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Product.Id" />
        <div class="form-group">
            <label asp-for="Product.Artikelnummer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Product.Artikelnummer" class="form-control" />
                <span asp-validation-for="Product.Artikelnummer" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"> Kleuren</label>
            <div class="col-md-10">
                @foreach (var item in Model.Kleuren)
                {
                    //Dit geeft error met afbeelding...
                    //@Html.CheckBox("kleur", (Model.product.kleuren.FindAll(x => x.kleur.id == item.id).ToList().Count > 0), new { value = item.id });
                    //@item.naam
                }

                @foreach (var k in Model.Kleuren)
                {
                    if (Model.Product.Kleuren.Select(x => x.KleurId).Contains(k.Id))
                    {
                        <input type="checkbox" name="kleuren" value="@k.Id" checked/> @k.Naam
                    }
                    else
                    {
                        <input type="checkbox" name="kleuren" value="@k.Id" /> @k.Naam
                    }
                }

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"> Kenmerken</label>
            <div class="col-md-10">
                @foreach (var item in Model.Kenmerken)
                {
                    @Html.CheckBox("kenmerk", (Model.Product.Kenmerken.FindAll(x => x.Kenmerk.Id == item.Id).ToList().Count > 0), new { value = item.Id });
                    @item.Naam
                }
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.Geslacht" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select input asp-for="Product.Geslacht">
                    <option value="bruid">Bruid</option>
                    <option value="bruidegom">Bruidegom</option>
                    <option value="geen">Geen</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.CategorieId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <div class="col-md-12">
                    <select asp-for="Product.CategorieId" class="form-control col-md-12" asp-items="Model.Categorieen"></select>
                </div>
                <span asp-validation-for="Product.CategorieId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.MerkId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <div class="col-md-12">
                    <select asp-for="Product.MerkId" class="form-control col-md-12" asp-items="Model.Merken"></select>
                </div>
                <span asp-validation-for="Product.MerkId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.Omschrijving" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Product.Omschrijving" class="form-control" />
                <span asp-validation-for="Product.Omschrijving" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.Prijs" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Product.Prijs" class="form-control" />
                <span asp-validation-for="Product.Prijs" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Terug naar productenoverzicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
