@model IEnumerable<Honeymoonshop.Models.Product>
@{Layout = "~/Views/Shared/_AdminLayout.cshtml";} 
<h2>Producten</h2>

<p>
    <a asp-action="Index" asp-controller="Admin">Naar dashboard</a><br/>
    <a asp-action="Create">Voeg nieuw product toe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Artikelnr.
            </th>
            <th>
                Merk
            </th>
            <th>
                Categorie
            </th>
            <th>
                Geslacht
            </th>
            <th>
                Accessoire
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Artikelnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Merk.MerkNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geslacht)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie.IsAccessoire)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Wijzig</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijder</a>  |
                <a asp-action="Images" asp-route-id="@item.Id">Afbeeldingen</a>
            </td>
        </tr>
}
    </tbody>
</table>
