@model IEnumerable<Honeymoonshop.Models.Kleur>

@{
    ViewData["Title"] = "Index";
}

<h2>Kleuren</h2>

<p>
    <a asp-action="Index" asp-controller="Admin">Naar dashboard</a><br />
    <a asp-action="Create">Nieuwe kleur toevoegen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Wijzig</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijder</a>
            </td>
        </tr>
}
    </tbody>
</table>
