@model IEnumerable<Honeymoonshop.Models.Kenmerk>
<h2>Kenmerken</h2>
<p>
    <a asp-action="Index" asp-controller="Admin">Naar dashboard</a><br />
    <a asp-action="Create">Nieuw kenmerk toevoegen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Kenmerktype
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kenmerktype)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Wijzig</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Verwijder</a>
                </td>
            </tr>
        }
    </tbody>
</table>