@model Honeymoonshop.Models.Product
@{
    List<Kleurproduct> gerelateerdeProducten = ViewData["gerelateerdeProducten"] as List<Kleurproduct>;
    List<Kleurproduct> accessoires = ViewData["Accessoires"] as List<Kleurproduct>;
    Kleurproduct hetProduct = ViewData["Product"] as Kleurproduct;
}
<div class="productcontainer row">
    <div id="productpagina" class="row">
        <div id="breadcrumbcontainer">
            <ol class="breadcrumb">
                <li>
                    <a href="/home/">Home</a>
                </li>
                <li>
                    <a href="#" class="text-capitalize">@hetProduct.product.geslacht</a>
                </li>
                <li>
                    <a href="/home/dressfinder">Dressfinder</a>
                </li>
                <li>
                    <a href="#">@hetProduct.product.categorie.naam</a>
                </li>
                <li class="active">@hetProduct.product.merk.merkNaam, @hetProduct.product.artikelnummer</li>
            </ol>
        </div>
        <div id="col-md-12"><a href="/home/dressfinder"><img src="~/images/arrow.png" />Terug naar overzicht</a></div>
        <div class="col-md-3">
            @{
                @foreach (ProductImage img in hetProduct.images)
                {
                    <img src="~/images/productenimages/@img.bestandsNaam" class="pull-right" />
                }
            }
        </div>
        <div class="col-md-6">
            @{
                <img src="~/images/productenimages/@hetProduct.images.First().bestandsNaam" class="pull-right" />
            }
        </div>
        <div class="col-md-3">
            <h4>@hetProduct.product.merk.merkNaam</h4>
            <p>artikel nr. @hetProduct.product.artikelnummer</p>
            <p>@hetProduct.product.omschrijving</p>
            <div>
                <p>
                    <span>Merk: <a href="#">@hetProduct.product.merk.merkNaam</a></span><br />
                </p>
                <p>
                    <span>
                        Kenmerken:
                        @{
                            foreach (Kenmerkproduct kenmerkproduct in hetProduct.product.kenmerken)
                            {
                            <a href="#">@kenmerkproduct.kenmerk.naam</a>
                            }
                        }
                    </span><br />
                </p>
                <p>
                    <span>Prijsindicatie: €@hetProduct.product.prijs</span><br />
                </p>
                <p>
                    <span>
                        Beschikbare kleuren: @{
                            foreach (Kleurproduct kleurproduct in hetProduct.product.kleuren)
                            {
                                @if (kleurproduct.kleur != null) { 
                                    <span>@kleurproduct.kleur.naam</span>
                                }
                            }
                        }
                    </span><br />
                </p>
                <p>Kom deze jurk passen!</p>
            </div>
            <a href="#" class="text-uppercase">Pasafspraak maken</a>
        </div>
    </div>
    <div class="row" id="tussenkopje">
        <hr class="col-md-2" />
        <h4 class="col-md-3 text-uppercase text-center">Bijpassende Accessoires</h4>
        <hr class="col-md-2" />
    </div>
    <div class="row" id="bijpassend">
        <div class="col-md-12">
            @{
                foreach (Kleurproduct kleurproduct in accessoires) {
                    <div class="col-md-3">
                        <div class="text-center"><img src="~/images/productenimages/@kleurproduct.images.First().bestandsNaam" /></div>
                        <span>@kleurproduct.product.merk.merkNaam</span>
                    </div>
                }
            }
        </div>
        <a href="#">
            <div class="col-md-12">
                <span class="text-uppercase">Bezoek de webshop</span>
            </div>
        </a>
    </div>
    <div class="row" id="tussenkopje">
        <hr class="col-md-3" />
        <h4 class="col-md-4 text-uppercase text-center">Of zijn deze @hetProduct.product.categorie.naam meer iets voor jou?</h4>
        <hr class="col-md-3" />
    </div>
    <div class="row" id="alternatieven">
        <div class="col-md-12">
            @{
                @for (int i = 0; i < 4 && i < gerelateerdeProducten.Count; i++)
                {
                    <div class="col-md-3">
                        <div class="text-center"><img src="~/images/productenimages/@gerelateerdeProducten[i].images.First().bestandsNaam" /></div>
                        <span><a href="/home/productpagina/@gerelateerdeProducten[i].productId">@gerelateerdeProducten[i].product.merk.merkNaam</a></span>
                    </div>

                }
            }
        </div>
    </div>
</div>